{% extends "base.html" %}


{% block content %}



<div class="container mt-5">


<div class="row align-items-center">



<div class="col-md-5">


<img 
src="/static/images/profile.jpg"
class="contact-image">


</div>




<div class="col-md-7">


<h1>
📞 Contact Me
</h1>


<p>
Saya terbuka untuk kolaborasi
di bidang teknologi pendidikan,
coding, dan STEM.
</p>



<div class="contact-box">

<p>
📧 Email:
wahyu@email.com
</p>


<p>
🔗 LinkedIn:
linkedin.com
</p>


</div>



</div>


</div>


</div>



{% endblock %}