{% extends "base.html" %}


{% block content %}


<section class="hero">


<div class="container">


<div class="row align-items-center">


<div class="col-md-5 text-center">


<img

src="/static/wahyu .jpeg"

class="profile-img"

onclick="zoomImage(this)"

>




</div>



<div class="col-md-7">


<h1>
Wahyu Setiadi
</h1>


<h3>
STEM Teacher | Coding Instructor
</h3>


<p>
Curriculum Developer | Educational Technology Enthusiast I Coding Instructor | STEM Teacher | Curriculum Developer | Educational Technology Enthusiast

</p>


</div>


</div>


</div>


</section>



<div class="container mt-5">


<h2>
Tentang Saya
</h2>


<p>

Saya merupakan lulusan dari Universitas Negeri Semarang dengan gelar Sarjana Teknologi
Pendidikan, Berpengalaman sebagai pengajar coding, robotic, dan STEM untuk siswa sekolah dasar. Saya juga memiliki pengalaman dalam mengembangkan modul pembelajaran koding untuk kelas 5 SD dan materi pembelajaran Scratch tingkat lanjut. Saya tertarik untuk berkolaborasi di bidang teknologi pendidikan, coding, dan STEM.

</p>


</div>


{% endblock %}