<!DOCTYPE html>
<html>

<head>

<title>
Marvel Heroes
</title>


<!-- Bootstrap -->
<link 
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
rel="stylesheet">


<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<!-- Navbar -->

<nav class="navbar navbar-dark bg-dark">

<div class="container">

<a class="navbar-brand">
Marvel Heroes
</a>

</div>

</nav>



<!-- Hero Section -->

<section class="hero">

<div class="container text-center">


<h1>
My Favorite Marvel Superheroes
</h1>


<p>
A tribute to the most iconic heroes
</p>


</div>

</section>



<!-- Card Hero -->


<div class="container mt-5">


<h2 class="text-center mb-4">
Top Marvel Heroes
</h2>



<div class="row">



<!-- Iron Man -->

<div class="col-md-4">


<div class="card">


<img 
src="static/ironman.jpg"
class="card-img-top">


<div class="card-body">


<h3>
Iron Man
</h3>


<p>
Genius inventor who created advanced armor technology.
</p>


<button class="btn btn-danger">
Choose
</button>


</div>

</div>


</div>





<!-- Spider Man -->


<div class="col-md-4">


<div class="card">


<img 
src="static/spiderman.png"
class="card-img-top">


<div class="card-body">


<h3>
Spider-Man
</h3>


<p>
Genius inventor who created advanced armor technology.
</p>


<button class="btn btn-danger">
Choose
</button>


</div>


</div>

</div>





<!-- Captain America -->


<div class="col-md-4">


<div class="card">


<img 
src="static/captain america.jpg"
class="card-img-top">


<div class="card-body">


<h3>
Captain America
</h3>


<p>
A super soldier fighting for justice.
</p>


<button class="btn btn-danger">
Choose
</button>


</div>


</div>


</div>



</div>

</div>





<!-- About -->


<section class="container text-center mt-5 mb-5">


<h2>
About This Page
</h2>


<p>
This website is created using Python Flask and Bootstrap.
</p>


</section>




<footer>

<p>
© 2025 Marvel Heroes Website
</p>

</footer>



</body>

</html>