{% extends "base.html" %}


{% block content %}


<div class="container mt-5">


<h1>
🎓 Pendidikan
</h1>


<div class="row align-items-center mt-4">


<div class="col-md-6">


<img

src="/static/kampus.jpeg"

class="page-image"

onclick="zoomImage(this)"

>


</div>




<div class="col-md-6">


<h2>
Teknologi Pendidikan
</h2>


<h4>
Universitas Negeri Semarang
</h4>


<p>

Mempelajari desain pembelajaran,
media digital,
dan teknologi pendidikan.

</p>


</div>



</div>


</div>



{% endblock %}