{% extends "base.html" %}


{% block content %}



<div class="container mt-5">


<h1>
💼 Pengalaman
</h1>



<div class="row mt-4">



<div class="col-md-6">


<div class="card">


<img

src="/static/images/mengajar.jpg"

class="card-img-top"

onclick="zoomImage(this)"

>


<div class="card-body">


<h3>
Coding Instructor
</h3>


<p>

Mengajar coding,
robotic dan STEM
untuk siswa sekolah dasar.

</p>


</div>


</div>


</div>






<div class="col-md-6">


<div class="card">


<img

src="/static/images/stem.jpg"

class="card-img-top"

onclick="zoomImage(this)"

>


<div class="card-body">


<h3>
STEM Workshop
</h3>


<p>

Membuat project teknologi
bersama siswa.

</p>


</div>


</div>


</div>




</div>


</div>



{% endblock %}