{% extends "base.html" %}


{% block content %}



<div class="container mt-5">


<h1>
🚀 Project
</h1>



<div class="row mt-4">



<div class="col-md-4">


<img

src="/static/Modul Wahyu.jpeg"

class="project-image"

onclick="zoomImage(this)"

>


<h4>
Modul Pembelajaran Koding Kelas 5 SD with Copyright
</h4>


</div>




<div class="col-md-4">


<img

src="/static/wahyu scratch.jpeg"

class="project-image"

onclick="zoomImage(this)"

>


<h4>
Learning Materials Scratch Advance Level and More Modul
</h4>


</div>





<div class="col-md-4">


<img

src="/static/learningvideo.png"

class="project-image"

onclick="zoomImage(this)"

>


<h4>
Learning Video Materials more 20+ video
</h4>


</div>




</div>


</div>


{% endblock %}